<h2> Select a Product to Edit: </h2>
<br>
<div id="products">
    {{#each prods}}
    <fieldset>
        <legend> {{this.n}} {{#if this.b}} <strong id="bestseller"> BESTSELLER! </strong> {{/if}} </legend>
        <figure>
            <a href="/products/edit/{{this._id}}"> <img src="/img/products/{{this.i}}" width="300" height="200">
            </a>
            <figcaption> ${{this.p}} </figcaption>
        </figure>
    </fieldset>
    {{/each}}
</div>