<div id="dash">
    <br>
    <nav>
        <a href="/products/add"> Add New Product </a>
        <a href="/products/edit"> Edit A Product </a>
    </nav>
    <h2>Welcome {{user.name}}</h2> <br>
    <img src="/img/up/{{user.pic}}" width="200">
</div>